@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    font-family: Montserrat;
}

body{
    color: #e5e1e1;
    background: radial-gradient(circle, #120333 0%, #0f0c0c 100%);
}

a{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

a::before{
    content: "";
    width: 0%;
    height: .1rem;
    position: absolute;
    bottom: 10%;
    left: 50%;
    background-color: white;
    opacity: 0;
    transform: translateX(-50%);
    box-shadow: 0 0 .5rem white;
    transition: width .3s ease-in-out, opacity .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover::before{
    width: 100%;
    opacity: 1;
}

a:hover p{
    text-shadow: 0 0 .5rem white;
}

a:hover svg{
    filter: drop-shadow( 0 0 .5rem white);
}

svg{
    width: 2.4rem;
    height: 2.4rem;
    color: white;
}

.header{
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__title{
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.header__title span{
    font-weight: 700;
}

.search-bar{
    position: relative;
}

@media (min-width: 1024px) {
    .search-bar{
        margin: 0 auto;
        width: 50%;
    }
}

.search-bar__input{
    padding: .5rem 1rem;
    width: 100%;
    font-size: 1.4rem;
    color: inherit;
    border: .1rem solid #e5e1e1;
    border-radius: 1.5rem;
    background: transparent;
}

.search-bar__input::placeholder{
    font-style: italic;
}

.search-bar svg{
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.movies{
    margin: 0 2rem;
}
@media (min-width: 1024px) {
    .movies{
        margin: 0 10rem;
    }
}

.movies__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.4rem;
}

.movie-added{
    filter: brightness(1.25);
}

@media (min-width: 768px) {
    .movies__container{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1024px) {
    .movies__container{
        grid-template-columns: repeat(6, 1fr);
    }
}

.movies__container div{
    overflow: hidden;
    cursor: pointer;
}

.movies__container div img{
    width: 100%;
    border-radius: .5rem;
    transition: transform .3s ease-in-out;
}

.movies__container div img:hover{
    transform: scale(.98);
}

.recommendation{
    margin-top: 2rem;
    
    overflow: hidden;
    cursor: pointer;
}

.recommendation h2{
    margin: 0;
}

.recommendation--hide{
    display: none;
}

.recommendation--show{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.selected-movies{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}

.selected-movies__info{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.selected-movies__info h2{
    margin: 0;
}

.selected-movies__list{
    margin: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    list-style: none;
    overflow: scroll;
}

@media (min-width: 1024px) {
    .selected-movies__list{
        padding: 1rem 10rem;
    }
}

.selected-movies__list li{
    padding: .5rem 1rem;
    flex-shrink: 0;
    font-size: 1.6rem;
    background: linear-gradient(90deg, rgba(75,75,255,1) 0%, rgba(192,106,255,1) 100%);
    border-radius: 1.5rem;
    cursor: pointer;
}

.selected-movies--hide{
    display: none;
}

.footer{
    padding: 2.5rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

@media (min-width: 768px) {
    .footer{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
}

.how-to{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}

.how-to h2{
    text-align: center;
}

.how-to ul li{
    margin-bottom: 1rem;
}